#root,
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.basic-theory {
  margin-top: 50px;
}

nav {
  margin-top: 50px;
  font-size: 1.6rem;
}
nav ul ul {
  margin-left: 1rem;
}
nav ul {
  /* max-height: 0; */
  /* opacity: 0; */
  overflow: hidden;
  padding-left: 0.5rem;
  border-left: 1px solid #ddd;
  transition: max-height 0.4s ease, opacity 0.3s ease;
}

.nav-label {
  margin-block: 10px;
  font-size: 1.8rem;
}
.nav-label::after {
  content: "▶";
  margin-left: 8px;
  color: #50a14f;
  transition: transform 0.3s ease;
}
nav .nav-label.open + ul {
  max-height: 500px;
  opacity: 1;
}
.open.nav-label::before {
  transform: rotate(90deg);
}
nav li {
  list-style: none;
  margin-bottom: 6px;
}

nav li:hover > span,
nav li:hover > a {
  background-color: #62626210;
}
.nav-label,
nav li a {
  display: flex;
  padding: 6px 10px;
  transition: background-color 0.2s linear;
  cursor: pointer;
}
